@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import '../common/colors';
@import '../common/variables';

.calc {
  width: $calc-width;
  height: $keyboard-height + $display-height;
  margin: 20px auto;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 100% * $scale-factor;
  border-radius: 3px;
  box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.7);
  background: #7f7f7f url('../calc-backgrounds/mobile_wallpaper_by_maria_shanina_scaled.jpeg');
  background-size: 100% 100%;
}

.calc__keyboard {
  width: 100%;
  height: $keyboard-height;
  padding: $button-margin;
}

.calc-button {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  line-height: $button-size;
  margin: $button-margin;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  text-align: center;
  font-size: 150%;
  user-select: none;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);

  -webkit-backdrop-filter: blur(5px);

  &.-width-double {
    width: ($button-size + $button-margin) * 2;
  }
}

.calc__display {
  text-align: right;
  height: $display-height;
  padding: 0 (4 * $button-margin);
  color: white;

  .calc__expression {
    height: 50%;

    .calc__expression-text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .calc__input {
    height: 50%;
    font-size: 150%;

    .calc__input-text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
