@import url('https://fonts.googleapis.com/css?family=Roboto:100');

$scale-factor: 1.5;

$button-size: 50px * $scale-factor;
$button-margin: 2px * $scale-factor;

$calc-width: (($button-size + 2*$button-margin) * 4 + 2*$button-margin);
$keyboard-height: (($button-size + 2*$button-margin) * 5 + 2*$button-margin);
$display-height: (0.35 * $keyboard-height);

.calc {
  width: $calc-width;
  height: $keyboard-height + $display-height;
  margin: auto;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 100% * $scale-factor;
  //background-image: url('/Users/ilya/Git/FCC-js-calc/src/calc-backgrounds/mobile_wallpaper_by_maria_shanina.png');
}

.calc__keyboard {
  width: 100%;
  height: $keyboard-height;
  padding: $button-margin;
  //background-color: lightskyblue;
  //background-image: url('/Users/ilya/Git/FCC-js-calc/src/calc-backgrounds/mobile_wallpaper_by_maria_shanina.png');

}

.calc-button {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  line-height: $button-size;
  margin: $button-margin;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 150%;
  user-select: none;
  //opacity: 0.5;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);

  -webkit-backdrop-filter: blur(5px);

  &.-width-double {
    width: ($button-size + $button-margin) * 2;
  }
}

.calc__display {
  text-align: right;
  height: $display-height;
  padding: 0 (4 * $button-margin);
  //background-color: lightskyblue;
  color: white;

  .calc__expression {
    height: 50%;

    .calc__expression-text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .calc__input {
    height: 50%;
    font-size: 150%;

    .calc__input-text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
